CREANDO FEATURES CATEGORICAS

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movies_obj = pd.read_csv('movies_obj.csv')

In [3]:
movies_obj.apply(pd.Series.nunique).sort_values()

#Como hay muchas opciones de variables categoricos no se debe hacer la transformacion de valores...

color                2
content_rating      18
language            47
country             65
genres             914
actor_1_name      2097
director_name     2398
actor_2_name      3032
actor_3_name      3521
plot_keywords     4760
movie_title       4917
dtype: int64

Nuevo ejemplo

In [6]:
categoricals = pd.read_csv('categoricals.csv').set_index('Unnamed: 0')

In [7]:
categoricals.head(2)

           actor_1_name  director_name
Unnamed: 0
0           CCH Pounder  James Cameron
1           Doug Walker    Doug Walker

In [8]:
categoricals = categoricals.reset_index(drop=True).fillna(0)

In [19]:
X = pd.read_csv('X.csv')
y = X['worldwide_gross']
X = X.drop('worldwide_gross',axis=1)
X_binenc = pd.concat([X,categoricals],axis=1) #Uno el dataframe de valores numericos con el de valores categoricos

In [20]:
X_binenc.head()

,production_budget,title_year,aspect_ratio,duration.1,budget,imdb_score,gross,actor_1_name,director_name
0,425000000.0,2009.000000,1.780000,178.000000,2.370000e+08,7.9,7.605058e+08,CCH Pounder,James Cameron
1,306000000.0,2002.130733,2.126976,108.577186,4.045539e+07,7.1,4.831933e+07,Doug Walker,Doug Walker
2,300000000.0,2007.000000,2.350000,169.000000,3.000000e+08,7.1,3.094042e+08,Johnny Depp,Gore Verbinski
3,300000000.0,2015.000000,2.350000,148.000000,2.450000e+08,6.8,2.000742e+08,Christoph Waltz,Sam Mendes
4,275000000.0,2012.000000,2.350000,164.000000,2.500000e+08,8.5,4.481306e+08,Tom Hardy,Christopher Nolan

In [21]:
import category_encoders as ce #Importo la libreria 
encoder = ce.BinaryEncoder(cols=['actor_1_name','director_name']) #Codifico en binario las columnas que necesito

In [22]:
encoder.fit_transform(X_binenc).shape #Se entrena y se transforma el encoder con el dataframe completo

(4104, 31)

In [23]:
X_binenc = encoder.fit_transform(X_binenc)

In [25]:
from sklearn.model_selection import train_test_split
Xb_train, Xb_test, y_train, y_test = train_test_split(X_binenc,y)

In [26]:
X_train, X_test = (Xb_train[X.columns], Xb_test[X.columns])

In [27]:
from sklearn.linear_model import Lasso

model_binec = Lasso()
model = Lasso()

In [28]:
model_binec.fit(Xb_train,y_train)
model.fit(X_train,y_train)

Lasso()

In [29]:
print(model_binec.score(Xb_test,y_test))
print(model.score(X_test,y_test))

0.8909153190493921
0.890702124188766